<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon anniversaire</title>
</head>
<body>
    <p>Mon anniversaire est un site web vous demandant la date de votre anniversaire et vous retournant le nombre de jour qui reste avant votre anniversaire.</p>
    <form action="/birthday/result" method="post">
        <label for="date">Date de naissance</label> : <input type="date" id="date" name="date" /> 
        <input type="submit" value="Calculer" />
    </form>
</body>
</html>